* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.postContainer {
  padding: 10px;
  border: 2px solid white;
  margin-bottom: 12px;
  border-radius: 5px;
  
}

.postTitle {
  color: #005f73;
  font-size: 27px
}

.postBody {
  color: #ee9b00
}